body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1800px;
    justify-content: space-around;

}

table{
    transform: scale(1.5);
}

table *{
    border: 1px solid;
}

thead{
    font-weight: 600;
    font-size: 18px;
}

ol{
    transform: scale(2);
}